/* =========================================
HEADER
============================================ */
header {
    .logo {
        width: 150px;

        img {
            height: auto;
            width: 100%;
        }
    }
}

.header-container {
    svg {
		height: 3vw;
		left: 0;
		position: absolute;
		top: 100%;
		width: 100%;
	}
}

.header__top-row {
    align-items: center;
    background-color: black;
    display: flex;
    justify-content: space-between;
    opacity: 1;
    padding: 0 15px;
    position: relative;
    z-index: 100;

    @media screen and (max-width: 600px) {
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 1.5rem;
    }
}


.main-nav {
    @media screen and (max-width: 600px) {
        width: 100%;
    }

    .active {
        border-bottom: 2px solid $med-purple;

        &:hover {
            border-bottom: 2px solid $med-purple;
            color: white;
            cursor: default;
        }
    }

    &__list {
        display: flex;
        flex: row wrap;

        @media screen and (max-width: 600px) {
            justify-content: center;
        }

        &__link {
            border-bottom: 2px solid transparent;
            color: white;
            font-size: .9em;
            font-weight: 700;
            margin: 0 1rem;
            text-decoration: none;
            text-transform: uppercase;
            transition: $transition;

            @media screen and (min-width: 500px) {
                font-size: 1em;
                margin: 0 1.5rem;
            }

            &--button {
                background: transparent;
                border: none;
                border-bottom: 2px solid transparent;
                margin-right: 0;
                padding: 0;
            }

            &:hover {
                border-bottom: 2px solid $light-purple;
                color: $light-purple;
            }
        }
    }
}