/* =========================================
TYPOGRAPHY
============================================ */

$raleway : 'Raleway', sans-serif;

$body-font: $raleway;
$heading-font: $raleway;
$bold: 700;
$link-color: $med-purple;
$link-color-hover: $dark-purple;

html {
    font-size: 62.5%;
}

body {
    font-family: $body-font;
    font-size: 1.6rem;
}

form {
    h3 {
        margin-top: .75rem;
    }
}

p {
    font-size: 1.6rem;
    line-height: 1.8;
    margin: 0 0 1rem;

    @media screen and (min-width: 500px) {
        font-size: 1.8rem;
    }
}

.intro {
    &__p {
        @media screen and (min-width: 500px) {
            font-size: 2.3rem;
        }
    }
}

.page-heading {
    font-size: 2.5rem;
    margin: 0;
    padding-bottom: 1.5rem;
    text-align: center;
    z-index: 10;

    @media screen and (min-width: 600px) {
        font-size: 3.5rem;
        padding-bottom: 0;
    }
}